* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 16px;
    font-family: "微软雅黑";
    overflow-x: hidden;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    font-size: 0;
    overflow: hidden;
    height: 0;
}

.clearfix {
    zoom: 1;
}

.container {
    width: 7.1rem;
    margin: 0 auto;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    /*border: .01rem solid #ff7702;*/
}

.icon {
    width: 1.4rem;
    height: 1.4rem;
    margin-top: .5rem;
    border-radius: .3rem;
}

.title {
    font-size: .3rem;
    color: #4c4c4c;
    margin-top: .2rem;
}

.money {
    font-size: .5rem;
    color: #4d4d4d;
    margin-top: .1rem;
    font-weight: bold;
}

.zcform {}

.zcform p {
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    margin-top: .2rem;
}

.zcform p label {
    width: 2rem;
    height: .5rem;
    line-height: .5rem;
    text-align: right;
    /*border: 1px solid #000;*/
}

.zcform p input {
    cursor: pointer;
    border: .02rem solid #ccc;
    color: #666;
    height: .46rem;
    text-indent: .2rem;
    /*outline: none;*/
    width: 6.8rem;
    height: .8rem;
    line-height: .8rem;
    font-size: .3rem;
    border-radius: .12rem;
}

.zcform div {
    width: 7rem;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -ms-align-items: center;
    align-items: flex-end;
    justify-content: flex-end;
}

.zcform p a {
    display: inline-block;
    width: 6.8rem;
    height: .8rem;
    line-height: .8rem;
    text-align: center;
    background-color: #fc0048;
    color: #fff;
    font-size: .3rem;
    text-decoration: none;
    margin-top: .2rem;
}

.con {
    margin-top: .8rem;
}

.con p {
    font-size: .3rem;
    color: #222;
    text-indent: 2em;
    margin: 0 auto;
}

input:focus {
    outline: .02rem solid blue;
}

.alert {
    position: fixed;
    left: 0;
    top: 0;
    width: 7.5rem;
    height: 13.34rem;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
}

.alert .box {
    width: 5rem;
    height: 3rem;
    /*border: .02rem solid #f0f0f0;*/
    border-radius: .4rem;
    background-color: #fff;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
}

.alert .box .inner {
    font-size: .3rem;
    color: #808080;
}
/*add*/
.state{
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    height: 1.2rem;
    /*border: 1px solid #000;*/
}
.state p{
    font-size: .34rem;
    color: #222;
    margin-top: .1rem;
}